:root {
  --color-grey-dark: hsl(0, 0%, 17%);
  --color-grey: hsl(0, 0%, 59%);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
}
