.header {
  position: relative;
  font-family: inherit;

  &__img {
    min-width: 100%;
    height: 23rem;
  }

  &__title {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 700;

    display: flex;
    justify-content: center;
  }
}
